In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
from scipy import stats

In [3]:
df = pd.read_csv('ad.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   광고      1000 non-null   object
 1   구입      1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [5]:
df.shape

(1000, 2)

In [6]:
df[['광고', '구입']].dtypes

광고    object
구입    object
dtype: object

In [7]:
df.head(3)

  광고      구입
0  B  하지 않았다
1  B  하지 않았다
2  A      했다

In [8]:
a = df.groupby('광고')['구입'].value_counts().reset_index(name='구입여부')
a

  광고      구입  구입여부
0  A  하지 않았다   351
1  A      했다    49
2  B  하지 않았다   549
3  B      했다    51

In [9]:
print(a.iloc[1, 2] / a.iloc[:2, 2].sum())
print(a.iloc[1, 2] / a.iloc[2:, 2].sum())

0.1225
0.08166666666666667

In [10]:
#교차표작성
b = a.pivot_table(index='광고', columns= '구입', values= '구입여부')
c = pd.crosstab(df['광고'], df['구입'])

In [11]:
c

구입  하지 않았다  했다
광고
A      351  49
B      549  51

In [12]:
print(stats.chi2_contingency(b), '\n')
print('*' * 120, '\n')
print(stats.chi2_contingency(c))

Chi2ContingencyResult(statistic=np.float64(3.344907407407407), pvalue=np.float64(0.06741327136707487), dof=1, expected_freq=array([[360.,  40.],
       [540.,  60.]]))

************************************************************************************************************************

Chi2ContingencyResult(statistic=np.float64(3.344907407407407), pvalue=np.float64(0.06741327136707487), dof=1, expected_freq=array([[360.,  40.],
       [540.,  60.]]))

In [13]:
df[df['구입'] == '했다'].groupby('광고')['구입'].count()

광고
A    49
B    51
Name: 구입, dtype: int64

In [14]:
df2 = df[df['구입']  == '했다']
df2.groupby('광고')['구입'].count()

광고
A    49
B    51
Name: 구입, dtype: int64

<h1>감자 감자 왕감자~</h1>

In [15]:
df = pd.read_csv('potato.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   무게      14 non-null     float64
dtypes: float64(1)
memory usage: 244.0 bytes

In [17]:
df.shape

(14, 1)

In [18]:
df.head(1)

       무게
0  122.02

In [19]:
df['무게'].mean()

np.float64(128.4507142857143)

In [20]:
# 올해 수확된 감자의 편균 무게 130g으로 확인됨
# 위에서 수확된 감자의 품질은 평균 이하이다.

In [21]:
# ttest_1samp의 파라미터 a에는 array 형식의 데이터를 줘야함
stats.ttest_1samp(df['무게'], 135)

TtestResult(statistic=np.float64(-6.151540946635357), pvalue=np.float64(3.479118519965615e-05), df=np.int64(13))