In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
from scipy import stats

In [ ]:
# 수치형
  # t-test : 샘플 30개 이하 일때 집단의 평균과 모집단의 평균과의 관계
 
  # z-test : 

  # f-test : 

# 범주형

  # chi2 :

In [5]:
df = pd.read_csv('training_rel.csv')

In [9]:
df.head(1)

    전   후
0  59  41

In [11]:
print(df.mean())
(df['전'] - df['후']).mean()

전    52.85
후    58.25
dtype: float64

np.float64(-5.4)

In [17]:
#독립적일때 : 두집단의 두데이터 비교
ttestind = stats.ttest_ind(df['전'], df['후'])
print(ttestind)

#연관적일때 : 한집단의 두데이터 비교
ttestrel = stats.ttest_rel(df['전'], df['후'])
print(ttestrel)

TtestResult(statistic=np.float64(-1.8997443074539122), pvalue=np.float64(0.0650756655596349), df=np.float64(38.0))
TtestResult(statistic=np.float64(-2.204154108716127), pvalue=np.float64(0.04004419061842953), df=np.int64(19))