In [1]:
# 파일 데이터 베이스에 올리기

In [ ]:
# 1.  파일 분석
## bookstore db를 대상으로 아래 작업 수행
# 2.  파일의 데이터를 저장할 테이블 만들기 (pymysql 사용)
# 3.  파일의 데이터를 읽어서 2에서 만든 테이블에 저장 (pymysql 사용)
# 4. iris 테이블에서 "setosa" 품종 데이터 조회  (pymysql 사용)

In [1]:
def conn_book():
    conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")
    cursor = conn.cursor()
    return conn, cursor

In [6]:
import pandas as pd
import pymysql

In [3]:
data = pd.read_csv('iris/iris.data', header=None)

data.columns = ['sl','sw','pl','pw','class']

In [4]:
data

      sl   sw   pl   pw           class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
type(data)

pandas.core.frame.DataFrame

In [7]:
conn, cursor = conn_book()

In [24]:
# SQL에서 작성한 테이블
# use bookstore;


#CREATE TABLE Iris (
#    id INTEGER PRIMARY KEY AUTO_INCREMENT,
#    sl FLOAT,
#    sw FLOAT,
#    pl FLOAT,
#    pw FLOAT,
#    class VARCHAR(20));

In [8]:
for index, row in data.iterrows():
        sql = f"INSERT INTO Iris (sl, sw, pl, pw, class) VALUES ({row['sl']}, {row['sw']}, {row['pl']}, {row['pw']}, '{row['class']}')"
        cursor.execute(sql)

In [ ]:
#for book in data:
    # print(book)
    # book 데이터를 newbook테이블에 insert
#    sql = f"insert into Iris values ('{book[0]}', '{book[1]}', '{book[2]}', '{book[3]}')"
#    cursor.execute(sql)

In [9]:
conn.commit()

In [ ]:
conn.close()
cursor.close()

In [12]:
conn, cursor = conn_book()

In [14]:
sql = "select * from iris where iris.class = 'iris-setosa'"
cursor.execute(sql)

50

In [15]:
iris_setosa = cursor.fetchall()

In [17]:
iris_setosa

((1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
 (2, 4.9, 3.0, 1.4, 0.2, 'Iris-setosa'),
 (3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
 (5, 5.0, 3.6, 1.4, 0.2, 'Iris-setosa'),
 (6, 5.4, 3.9, 1.7, 0.4, 'Iris-setosa'),
 (7, 4.6, 3.4, 1.4, 0.3, 'Iris-setosa'),
 (8, 5.0, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (9, 4.4, 2.9, 1.4, 0.2, 'Iris-setosa'),
 (10, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (11, 5.4, 3.7, 1.5, 0.2, 'Iris-setosa'),
 (12, 4.8, 3.4, 1.6, 0.2, 'Iris-setosa'),
 (13, 4.8, 3.0, 1.4, 0.1, 'Iris-setosa'),
 (14, 4.3, 3.0, 1.1, 0.1, 'Iris-setosa'),
 (15, 5.8, 4.0, 1.2, 0.2, 'Iris-setosa'),
 (16, 5.7, 4.4, 1.5, 0.4, 'Iris-setosa'),
 (17, 5.4, 3.9, 1.3, 0.4, 'Iris-setosa'),
 (18, 5.1, 3.5, 1.4, 0.3, 'Iris-setosa'),
 (19, 5.7, 3.8, 1.7, 0.3, 'Iris-setosa'),
 (20, 5.1, 3.8, 1.5, 0.3, 'Iris-setosa'),
 (21, 5.4, 3.4, 1.7, 0.2, 'Iris-setosa'),
 (22, 5.1, 3.7, 1.5, 0.4, 'Iris-setosa'),
 (23, 4.6, 3.6, 1.0, 0.2, 'Iris-setosa'),
 (24, 5.1, 3.3, 1.7, 0.5, 'Iris-setosa'),
 (25, 4.8, 3.4, 1.9, 0.2, 'Iris-setosa'),
 (26, 5.0, 3.0, 1.6, 0.2, 'Iris-setosa'),
 (27, 5.0, 3.4, 1.6, 0.4, 'Iris-setosa'),
 (28, 5.2, 3.5, 1.5, 0.2, 'Iris-setosa'),
 (29, 5.2, 3.4, 1.4, 0.2, 'Iris-setosa'),
 (30, 4.7, 3.2, 1.6, 0.2, 'Iris-setosa'),
 (31, 4.8, 3.1, 1.6, 0.2, 'Iris-setosa'),
 (32, 5.4, 3.4, 1.5, 0.4, 'Iris-setosa'),
 (33, 5.2, 4.1, 1.5, 0.1, 'Iris-setosa'),
 (34, 5.5, 4.2, 1.4, 0.2, 'Iris-setosa'),
 (35, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (36, 5.0, 3.2, 1.2, 0.2, 'Iris-setosa'),
 (37, 5.5, 3.5, 1.3, 0.2, 'Iris-setosa'),
 (38, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (39, 4.4, 3.0, 1.3, 0.2, 'Iris-setosa'),
 (40, 5.1, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (41, 5.0, 3.5, 1.3, 0.3, 'Iris-setosa'),
 (42, 4.5, 2.3, 1.3, 0.3, 'Iris-setosa'),
 (43, 4.4, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (44, 5.0, 3.5, 1.6, 0.6, 'Iris-setosa'),
 (45, 5.1, 3.8, 1.9, 0.4, 'Iris-setosa'),
 (46, 4.8, 3.0, 1.4, 0.3, 'Iris-setosa'),
 (47, 5.1, 3.8, 1.6, 0.2, 'Iris-setosa'),
 (48, 4.6, 3.2, 1.4, 0.2, 'Iris-setosa'),
 (49, 5.3, 3.7, 1.5, 0.2, 'Iris-setosa'),
 (50, 5.0, 3.3, 1.4, 0.2, 'Iris-setosa'))

In [18]:
def conn_close():
    cursor.close()
    conn.close()
    return None

In [ ]:
conn_close()