In [12]:
for y in range(10):
    for x in range(20):
        if (x == 0) or  (x == 20 - 1) or (y == 0) or (y == 10 - 1):
            print("*", end="")
        else:
            print(" ", end="")
    print()

********************
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
********************

In [14]:
def draw_box():
    for y in range(10):
        for x in range(20):
            if (x == 0) or  (x == 20 - 1) or (y == 0) or (y == 10 - 1):
                print("*", end="")
            else:
                print(" ", end="")
        print()

In [15]:
draw_box()

********************
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
********************

In [32]:
def draw_box(w, h, c = "^"):
    for y in range(h):
        for x in range(w):
            if (x == 0) or  (x == w - 1) or (y == 0) or (y == h - 1):
                print(c, end="")
            else:
                print(" ", end="")
        print()

In [47]:
draw_box(h = 10, w = 30)

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
^                            ^
^                            ^
^                            ^
^                            ^
^                            ^
^                            ^
^                            ^
^                            ^
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [48]:
def calc(n1, n2):
    result = n1 + n2
    return result # 함수를 호출한 곳으로 함수가 생산한 값을 반환

In [49]:
r = calc(10, 20)
print(r)

30

In [50]:
def calc2(n1, n2):
    return n1 + n2, n1 - n2, n1 * n2, n1 / n2

In [54]:
r1, r2, r3, r4 = calc2(200, 100)
r1, r2, r3, r4

(300, 100, 20000, 2.0)

In [53]:
r = calc2(200, 100)
r

(300, 100, 20000, 2.0)

In [55]:
def calc2(n1, n2):
    n1 + n2, n1 - n2, n1 * n2, n1 / n2
    return r1, r2, r3, r4

In [57]:
r = calc2(200, 100)
r

(300, 100, 20000, 2.0)

In [60]:
def f1(*args): # 호출할 때 전달되는 데이터를 모아서 리스트로 구성하는 전달인자
    return sum(args)

In [62]:
print(f1(10, 20))
print(f1(10, 20, 30, 40 ,50))
print(f1(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

30
150
55

In [63]:
import pandas as pd
import pymysql

In [71]:
def f2(**kwargs): #이름 = 값의 목록으로 호출되는 전달인자를 딕셔너리로 변화
    for k, v in kwargs.items():
        print(k, v, end =' ')
    print()

In [69]:
f2(a = 10, b = 20, c = 30)
f2(x = 100, y = 200, z = 300)
f2(p = 5, q = 66, r = 45)

a 10 b 20 c 30
x 100 y 200 z 300
p 5 q 66 r 45

In [74]:
dp = {'a':111, 'b':222, 'c':333}
#f2(a = dp['a'], b = dp['b'], c = dp['c'])
f2(**dp)

a 111 b 222 c 333