In [6]:
# ! pip install pymysql
# mysql 연동모듈

In [3]:
import pymysql

In [7]:
# 연결
conn = pymysql.connect(host="127.0.0.1", port=3306, user="humanda", passwd="humanda",
                db="bookstore")

In [8]:
cursor = conn.cursor()

In [9]:
# 명령실행
sql = "select * from customer"
cursor.execute(sql)

5

In [10]:
#조회 명령 실행 결과를 가져오기
data = cursor.fetchall()

In [11]:
#연결닫기
cursor.close()
conn.close()

In [12]:
data

((1, '박지성', '영국 맨체스타', '000-5000-0001'),
 (2, '김연아', '대한민국 서울', '000-6000-0001'),
 (3, '장미란', '대한민국 강원도', '000-7000-0001'),
 (4, '추신수', '미국 클리블랜드', '000-8000-0001'),
 (5, '박세리', '대한민국 대전', None))

In [17]:
print(data)
len(data), type(data)

((1, '박지성', '영국 맨체스타', '000-5000-0001'), (2, '김연아', '대한민국 서울', '000-6000-0001'), (3, '장미란', '대한민국 강원도', '000-7000-0001'), (4, '추신수', '미국 클리블랜드', '000-8000-0001'), (5, '박세리', '대한민국 대전', None))

(5, tuple)

In [19]:
for row in data:
    print(row)

(1, '박지성', '영국 맨체스타', '000-5000-0001')
(2, '김연아', '대한민국 서울', '000-6000-0001')
(3, '장미란', '대한민국 강원도', '000-7000-0001')
(4, '추신수', '미국 클리블랜드', '000-8000-0001')
(5, '박세리', '대한민국 대전', None)

In [4]:
# 연결
conn = pymysql.connect(host="127.0.0.1", port=3306, user="root", passwd="0000",
                db="employees")

In [5]:
cursor = conn.cursor()

In [6]:
# 명령실행
sql = "select emp_no, max(salary) from salaries group by emp_no"
cursor.execute(sql)

300024

In [7]:
#조회 명령 실행 결과를 가져오기
data = cursor.fetchall()

In [ ]:
#연결닫기
cursor.close()
conn.close()

In [8]:
for row in data[:10]:
    print(row)

(10001, 88958)
(10002, 72527)
(10003, 43699)
(10004, 74057)
(10005, 94692)
(10006, 60098)
(10007, 88070)
(10008, 52668)
(10009, 94443)
(10010, 80324)