In [2]:
# 1. population.csv 파일을 DataFrame으로 읽고 내용 확인
# 2. 현재 연구자 거주지 동의 인구 정보 조회 ( 행전체 )
# 3. 총인구수가 가장 많은 동 조회 ( 읍면동 단위 )
# 4. 남성인구비가 가장 높은 동 조회 ( 읍면동 단위 )
# 5. 도시 법정동 1선정, 농촌 법정동 1선정, 인구 분포 비교 ( 읍면동 단위 )

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('source/population.csv')

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13984\1778969461.py:1: DtypeWarning: Columns (100,101,103,198,199,200,201,305,306,307,309) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('source/population.csv')

In [5]:
data.head()

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
0,서울특별시 (1100000000),"9,350,995","9,350,995","38,100","38,486","40,625","42,608","44,377","47,757","51,072",...,"6,767","5,474","3,921","3,343","2,623","1,892","1,391",776,523,"1,184"
1,서울특별시 종로구 (1111000000),"138,879","138,879",415,419,467,471,516,512,580,...,131,105,87,63,52,46,34,21,8,33
2,서울특별시 종로구 청운효자동(1111051500),"11,143","11,143",52,35,43,48,46,50,50,...,13,10,11,3,6,4,1,2,0,4
3,서울특별시 종로구 사직동(1111053000),"8,995","8,995",21,31,38,33,35,38,54,...,8,3,10,7,5,3,2,1,1,3
4,서울특별시 종로구 삼청동(1111054000),"2,234","2,234",3,8,6,8,4,4,10,...,6,2,1,4,0,1,0,0,0,1

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.shape

(3910, 310)

In [8]:
data.columns

Index(['행정구역', '2024년09월_계_총인구수', '2024년09월_계_연령구간인구수', '2024년09월_계_0세',
       '2024년09월_계_1세', '2024년09월_계_2세', '2024년09월_계_3세', '2024년09월_계_4세',
       '2024년09월_계_5세', '2024년09월_계_6세',
       ...
       '2024년09월_여_91세', '2024년09월_여_92세', '2024년09월_여_93세', '2024년09월_여_94세',
       '2024년09월_여_95세', '2024년09월_여_96세', '2024년09월_여_97세', '2024년09월_여_98세',
       '2024년09월_여_99세', '2024년09월_여_100세 이상'],
      dtype='object', length=310)

In [9]:
data["행정구역"]

0                서울특별시  (1100000000)
1             서울특별시 종로구 (1111000000)
2        서울특별시 종로구 청운효자동(1111051500)
3          서울특별시 종로구 사직동(1111053000)
4          서울특별시 종로구 삼청동(1111054000)
                    ...
3905    제주특별자치도 서귀포시 서홍동(5013058000)
3906    제주특별자치도 서귀포시 대륜동(5013059000)
3907    제주특별자치도 서귀포시 대천동(5013060000)
3908    제주특별자치도 서귀포시 중문동(5013061000)
3909    제주특별자치도 서귀포시 예래동(5013062000)
Name: 행정구역, Length: 3910, dtype: object

In [20]:
# str은 series에 포함된 문자열 각각에 적용할 함수를 포함하는 객체
dong_filter = data['행정구역'].str.contains("오산시")

In [19]:
data[dong_filter]

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
1653,경기도 오산시 (4137000000),238788,238788,1213,1338,1479,1547,1631,1805,1992,...,110,87,53,63,35,28,30,17,12,14
1654,경기도 오산시 중앙동(4137051000),33816,33816,174,166,218,247,230,291,285,...,12,10,5,9,4,7,5,3,2,1
1655,경기도 오산시 대원1동(4137052300),45780,45780,194,182,201,203,212,242,306,...,13,14,14,10,10,7,7,3,4,2
1656,경기도 오산시 대원2동(4137052600),24421,24421,201,240,229,231,252,243,248,...,8,6,2,3,2,1,0,3,1,1
1657,경기도 오산시 남촌동(4137053000),25499,25499,139,139,161,188,186,173,187,...,8,9,7,6,3,1,2,1,0,2
1658,경기도 오산시 신장1동(4137054300),35231,35231,128,125,162,169,201,241,285,...,24,17,8,13,7,2,4,1,1,2
1659,경기도 오산시 신장2동(4137054600),22979,22979,90,107,137,144,161,189,233,...,15,11,8,5,1,3,5,2,2,2
1660,경기도 오산시 세마동(4137055000),31587,31587,188,253,243,250,251,292,328,...,22,13,6,13,3,5,4,3,2,3
1661,경기도 오산시 초평동(4137056000),19475,19475,99,126,128,115,138,134,120,...,8,7,3,4,5,2,3,1,0,1

In [27]:
data['행정구역'].str.contains("오산시")

0       False
1       False
2       False
3       False
4       False
        ...
3905    False
3906    False
3907    False
3908    False
3909    False
Name: 행정구역, Length: 3910, dtype: bool

In [10]:
data[data['행정구역'].str.contains("오산시")]

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
1653,경기도 오산시 (4137000000),"238,788","238,788","1,213","1,338","1,479","1,547","1,631","1,805","1,992",...,110,87,53,63,35,28,30,17,12,14
1654,경기도 오산시 중앙동(4137051000),"33,816","33,816",174,166,218,247,230,291,285,...,12,10,5,9,4,7,5,3,2,1
1655,경기도 오산시 대원1동(4137052300),"45,780","45,780",194,182,201,203,212,242,306,...,13,14,14,10,10,7,7,3,4,2
1656,경기도 오산시 대원2동(4137052600),"24,421","24,421",201,240,229,231,252,243,248,...,8,6,2,3,2,1,0,3,1,1
1657,경기도 오산시 남촌동(4137053000),"25,499","25,499",139,139,161,188,186,173,187,...,8,9,7,6,3,1,2,1,0,2
1658,경기도 오산시 신장1동(4137054300),"35,231","35,231",128,125,162,169,201,241,285,...,24,17,8,13,7,2,4,1,1,2
1659,경기도 오산시 신장2동(4137054600),"22,979","22,979",90,107,137,144,161,189,233,...,15,11,8,5,1,3,5,2,2,2
1660,경기도 오산시 세마동(4137055000),"31,587","31,587",188,253,243,250,251,292,328,...,22,13,6,13,3,5,4,3,2,3
1661,경기도 오산시 초평동(4137056000),"19,475","19,475",99,126,128,115,138,134,120,...,8,7,3,4,5,2,3,1,0,1

In [11]:
data.iloc[:, 1:] = data.iloc[:, 1:].replace(',', '', regex=True)

In [12]:
data.head()

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
0,서울특별시 (1100000000),9350995,9350995,38100,38486,40625,42608,44377,47757,51072,...,6767,5474,3921,3343,2623,1892,1391,776,523,1184
1,서울특별시 종로구 (1111000000),138879,138879,415,419,467,471,516,512,580,...,131,105,87,63,52,46,34,21,8,33
2,서울특별시 종로구 청운효자동(1111051500),11143,11143,52,35,43,48,46,50,50,...,13,10,11,3,6,4,1,2,0,4
3,서울특별시 종로구 사직동(1111053000),8995,8995,21,31,38,33,35,38,54,...,8,3,10,7,5,3,2,1,1,3
4,서울특별시 종로구 삼청동(1111054000),2234,2234,3,8,6,8,4,4,10,...,6,2,1,4,0,1,0,0,0,1

In [13]:
data.iloc[:, 1:] = data.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

In [14]:
data.dtypes

행정구역                  object
2024년09월_계_총인구수       object
2024년09월_계_연령구간인구수    object
2024년09월_계_0세         object
2024년09월_계_1세         object
                       ...
2024년09월_여_96세        object
2024년09월_여_97세        object
2024년09월_여_98세        object
2024년09월_여_99세         int64
2024년09월_여_100세 이상    object
Length: 310, dtype: object

In [15]:
for col in data.columns[1:]:  # '행정구역' 제외
    data[col] = pd.to_numeric(data[col], errors='coerce')  # 숫자형으로 변환

In [16]:
data.dtypes

행정구역                  object
2024년09월_계_총인구수        int64
2024년09월_계_연령구간인구수     int64
2024년09월_계_0세          int64
2024년09월_계_1세          int64
                       ...
2024년09월_여_96세         int64
2024년09월_여_97세         int64
2024년09월_여_98세         int64
2024년09월_여_99세         int64
2024년09월_여_100세 이상     int64
Length: 310, dtype: object

In [17]:
data.head()

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0세,2024년09월_계_1세,2024년09월_계_2세,2024년09월_계_3세,2024년09월_계_4세,2024년09월_계_5세,2024년09월_계_6세,...,2024년09월_여_91세,2024년09월_여_92세,2024년09월_여_93세,2024년09월_여_94세,2024년09월_여_95세,2024년09월_여_96세,2024년09월_여_97세,2024년09월_여_98세,2024년09월_여_99세,2024년09월_여_100세 이상
0,서울특별시 (1100000000),9350995,9350995,38100,38486,40625,42608,44377,47757,51072,...,6767,5474,3921,3343,2623,1892,1391,776,523,1184
1,서울특별시 종로구 (1111000000),138879,138879,415,419,467,471,516,512,580,...,131,105,87,63,52,46,34,21,8,33
2,서울특별시 종로구 청운효자동(1111051500),11143,11143,52,35,43,48,46,50,50,...,13,10,11,3,6,4,1,2,0,4
3,서울특별시 종로구 사직동(1111053000),8995,8995,21,31,38,33,35,38,54,...,8,3,10,7,5,3,2,1,1,3
4,서울특별시 종로구 삼청동(1111054000),2234,2234,3,8,6,8,4,4,10,...,6,2,1,4,0,1,0,0,0,1

In [26]:
data.iloc[:, 1]

0       9350995
1        138879
2         11143
3          8995
4          2234
         ...
3905      11111
3906      15106
3907      13755
3908      12285
3909       3833
Name: 2024년09월_계_총인구수, Length: 3910, dtype: int64

In [31]:
data['행정구역'].str.contains("오산시")

0       False
1       False
2       False
3       False
4       False
        ...
3905    False
3906    False
3907    False
3908    False
3909    False
Name: 행정구역, Length: 3910, dtype: bool

In [33]:
data["행정구역"]

0                서울특별시  (1100000000)
1             서울특별시 종로구 (1111000000)
2        서울특별시 종로구 청운효자동(1111051500)
3          서울특별시 종로구 사직동(1111053000)
4          서울특별시 종로구 삼청동(1111054000)
                    ...
3905    제주특별자치도 서귀포시 서홍동(5013058000)
3906    제주특별자치도 서귀포시 대륜동(5013059000)
3907    제주특별자치도 서귀포시 대천동(5013060000)
3908    제주특별자치도 서귀포시 중문동(5013061000)
3909    제주특별자치도 서귀포시 예래동(5013062000)
Name: 행정구역, Length: 3910, dtype: object

In [43]:
data.iloc[5][:5]

행정구역                  서울특별시 종로구 부암동(1111055000)
2024년09월_계_총인구수                            9054
2024년09월_계_연령구간인구수                         9054
2024년09월_계_0세                                22
2024년09월_계_1세                                26
Name: 5, dtype: object

In [49]:
data['행정구역'][:5]

0            서울특별시  (1100000000)
1         서울특별시 종로구 (1111000000)
2    서울특별시 종로구 청운효자동(1111051500)
3      서울특별시 종로구 사직동(1111053000)
4      서울특별시 종로구 삼청동(1111054000)
Name: 행정구역, dtype: object