In [1]:
import pandas as pd
from io import StringIO

In [2]:
csv_data = """A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
9.0,10.0,11.0,
"""
df = pd.read_csv(StringIO(csv_data))
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  9.0  10.0  11.0  NaN

In [8]:
# df.isnull()
# df.isna()
# df.notnull()
# df.notna()
#df.isnull().sum(axis=1) # NA 데이터 포함 여부 (NA → 0)
#df.isnull().sum(axis=1).sum() # NA 데이터 포함 여부 (NA → 0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      float64
 2   C       2 non-null      float64
 3   D       2 non-null      float64
dtypes: float64(4)
memory usage: 228.0 bytes

In [4]:
# NaN 제거
# df.dropna() # NaN이 포함된 모든 행 제거
# df.dropna(axis=1) # NaN이 포함된 모든 열 제거
# df.dropna(how="all") # 모든 데이터가 NaN인 행 제거 (any or all)
# df.dropna(thresh=4) # NaN이 아닌 데이터가 4개 미만인 행 제거
# df.dropna(subset=['C']) # C 컬럼에 NaN이 포함된 행 제거

In [10]:
from sklearn.impute import SimpleImputer
import numpy as np

In [11]:
simr = SimpleImputer(missing_values=np.nan, strategy="constant",
fill_value=100) # strategy : mean, most_frequent, median
simr = simr.fit(df)
imputed_data = simr.transform(df.values)
imputed_data

c:\Dev\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

array([[  1.,   2.,   3.,   4.],
       [  5.,   6., 100.,   8.],
       [  9.,  10.,  11., 100.]])

In [18]:
import pandas as pd
import numpy as np

# CSV 파일을 읽어오면서 구분자를 지정
df_wine = pd.read_csv("winequality-white.csv", sep=";")

# 실제 열 이름을 확인
print("Column names:", df_wine.columns)
print("Number of columns:", len(df_wine.columns))

# 필요한 경우 열 이름 목록을 실제 열 개수에 맞게 조정
# 예시로 12개의 열 이름을 지정한 경우:
df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash',
                   'Alcalinity of ash', 'Magnesium', 'Total phenols',
                   'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
                   'Color intensity', 'Hue']  # 열 개수에 맞게 조정하세요

# Class label 열의 고유값 출력
print('Class labels:', np.unique(df_wine['Class label']))

# 데이터프레임 상위 5개 행 출력
df_wine.head()

Column names: Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')
Number of columns: 12
Class labels: [ 3.8   3.9   4.2   4.4   4.5   4.6   4.7   4.8   4.9   5.    5.1   5.2
  5.3   5.4   5.5   5.6   5.7   5.8   5.9   6.    6.1   6.15  6.2   6.3
  6.4   6.45  6.5   6.6   6.7   6.8   6.9   7.    7.1   7.15  7.2   7.3
  7.4   7.5   7.6   7.7   7.8   7.9   8.    8.1   8.2   8.3   8.4   8.5
  8.6   8.7   8.8   8.9   9.    9.1   9.2   9.3   9.4   9.5   9.6   9.7
  9.8   9.9  10.   10.2  10.3  10.7  11.8  14.2 ]

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [ ]:
#정규화 0 ~ 1 사이의 데이터로 변경 

from sklearn.preprocessing import MinMaxScaler
X = df_wine.iloc[:, :-1].values # 1열을 제외한 나머지 모든 데이터
mms = MinMaxScaler()
X2 = mms.fit_transform(X)
print(X[:5, :])
print("*" * 50)
print(X2[:5, :])

[[7.000e+00 2.700e-01 3.600e-01 2.070e+01 4.500e-02 4.500e+01 1.700e+02
  1.001e+00 3.000e+00 4.500e-01 8.800e+00]
 [6.300e+00 3.000e-01 3.400e-01 1.600e+00 4.900e-02 1.400e+01 1.320e+02
  9.940e-01 3.300e+00 4.900e-01 9.500e+00]
 [8.100e+00 2.800e-01 4.000e-01 6.900e+00 5.000e-02 3.000e+01 9.700e+01
  9.951e-01 3.260e+00 4.400e-01 1.010e+01]
 [7.200e+00 2.300e-01 3.200e-01 8.500e+00 5.800e-02 4.700e+01 1.860e+02
  9.956e-01 3.190e+00 4.000e-01 9.900e+00]
 [7.200e+00 2.300e-01 3.200e-01 8.500e+00 5.800e-02 4.700e+01 1.860e+02
  9.956e-01 3.190e+00 4.000e-01 9.900e+00]]
**************************************************
[[0.30769231 0.18627451 0.21686747 0.30828221 0.10682493 0.14982578
  0.37354988 0.26778485 0.25454545 0.26744186 0.12903226]
 [0.24038462 0.21568627 0.20481928 0.01533742 0.11869436 0.04181185
  0.28538283 0.13283208 0.52727273 0.31395349 0.24193548]
 [0.41346154 0.19607843 0.24096386 0.09662577 0.12166172 0.09756098
  0.20417633 0.15403894 0.49090909 0.25581395 0.33870968]
 [0.32692308 0.14705882 0.19277108 0.12116564 0.14540059 0.15679443
  0.41067285 0.16367843 0.42727273 0.20930233 0.30645161]
 [0.32692308 0.14705882 0.19277108 0.12116564 0.14540059 0.15679443
  0.41067285 0.16367843 0.42727273 0.20930233 0.30645161]]

In [ ]:
# 정규분포화
#▪ 평균과 표준편차를 기준으로 변경
#» 평균 0, 표준편차 1인 정규분포로 변경
#» 변경후에도 이상치에 대한 유용한 정보 보존

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X2 = ss.fit_transform(X)
#print(X[:5, :])
#print("*" * 50)
#print(X2[:5, :])

print("평균 : ",X2[:, 1].mean(), X2[:, 2].mean(), X2[:, 3].mean() )
print("표준편차 : ",X2[:, 1].std(), X2[:, 2].std(), X2[:, 3].std() )

평균 :  4.49710592253228e-16 1.160543463879298e-17 -1.066249307439105e-16
표준편차 :  0.9999999999999999 1.0 0.9999999999999999