In [3]:
import numpy as np
import pandas as pd

In [6]:
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)
print(s.index)

0    a
1    b
2    c
3    d
dtype: object
RangeIndex(start=0, stop=4, step=1)

In [8]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data, index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [16]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s
print( s[0], s['a'] )

1 1

C:\Users\human\AppData\Local\Temp\ipykernel_4356\624749941.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print( s[0], s['a'] )

In [21]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[:3], s[:'c'])

a    1
b    2
c    3
dtype: int64 a    1
b    2
c    3
dtype: int64

In [23]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)
print(df.dtypes)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
Name    object
Age      int64
dtype: object

In [25]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [26]:
d = {   'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df['one']) # data-frame의 인덱싱 : 컬럼 인덱싱

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [27]:
d = {   'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)

df['three'] = pd.Series([10,20,30], index=['a','b','c'])
print(df)
df['four'] = df['one'] + df['three']
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [36]:
df = {  'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
# df['one']
# df['one', 'a']
print( df.loc['a', 'one'] ) # [ 행인덱스, 열인덱스 ]
print( df.iloc[0, 0] ) # [행순서번호, 열순서번호]

1.0
1.0

In [37]:
d = {   'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df[2:4]) # dataframe slicing : row slicing

   one  two
c  3.0    3
d  NaN    4

In [38]:
d = {   'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
        'Age':pd.Series([25,26,25,23,30,29,23]),
        'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df = pd.DataFrame(d)
print(df)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [39]:
df.T

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8