In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
from scipy import stats
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [8]:
df = pd.read_csv('web_page_data.csv')

In [9]:
df.head(5)

     Page  Time
0  Page A  0.21
1  Page B  2.53
2  Page A  0.35
3  Page B  0.71
4  Page A  0.67

In [10]:
df2 = df.groupby('Page')['Time'].mean()

In [11]:
df2

Page
Page A    1.263333
Page B    1.620000
Name: Time, dtype: float64

In [12]:
# pvalue를 근거로 위에서 보인 차이는 가능성이 27% -> 귀무가설 기각 할 수 없음
# 두페이지의 접속시간에는 차이가 없음

df_page_a = df[df['Page'] == 'Page A']['Time']
df_page_b = df[df['Page'] == 'Page B']['Time']

stats.ttest_ind(df_page_a, df_page_b)

TtestResult(statistic=np.float64(-1.1237042154424823), pvalue=np.float64(0.26901024363926024), df=np.float64(34.0))

In [13]:
df = sns.load_dataset('tips')
df.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

In [14]:
df.groupby('sex')['tip'].mean()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_1848\3407121299.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sex')['tip'].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [15]:
#성별에 따라 팁에 차이가 있는지
#흡연여부에 따라 팁차이가 있는지
#식사시간에 따라 팁차이가 있는지
#요일에 따라 팁 차이가 있는지

In [16]:
male = df[df['sex'] == 'Male']
female = df[df['sex'] == 'Female']

In [17]:
df.groupby('sex')['tip'].mean()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_1848\3407121299.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sex')['tip'].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [18]:
stats.ttest_ind(male['tip'], female['tip'])

TtestResult(statistic=np.float64(1.387859705421269), pvalue=np.float64(0.16645623503456755), df=np.float64(242.0))

In [19]:
ysmoker = df[df['smoker'] == 'Yes']
nsmoker = df[df['smoker'] == 'No']
df.groupby('smoker')['tip'].mean().reset_index(name='tip_mean')

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_1848\3106885617.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('smoker')['tip'].mean().reset_index(name='tip_mean')

  smoker  tip_mean
0    Yes  3.008710
1     No  2.991854

In [20]:
stats.ttest_ind(ysmoker['tip'], nsmoker['tip'])

TtestResult(statistic=np.float64(0.09222805186888201), pvalue=np.float64(0.9265931522244976), df=np.float64(242.0))

In [21]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [22]:
lunch = df[df['time'] == 'Lunch']
dinner = df[df['time'] == 'Dinner']
df.groupby('time')['tip'].mean().reset_index(name='tip_mean')

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_1848\1924537252.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['tip'].mean().reset_index(name='tip_mean')

     time  tip_mean
0   Lunch  2.728088
1  Dinner  3.102670

In [23]:
stats.ttest_ind(dinner['tip'], lunch['tip'])

TtestResult(statistic=np.float64(1.9062569301202392), pvalue=np.float64(0.05780153475171558), df=np.float64(242.0))

In [24]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [25]:
thur = df[df['day'] == 'Thur']
fri = df[df['day'] == 'Fri']
sat = df[df['day'] == 'Sat']
sun = df[df['day'] == 'Sun']
df.groupby('day')['tip'].mean().reset_index(name='tip_mean')

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_1848\2780127141.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day')['tip'].mean().reset_index(name='tip_mean')

    day  tip_mean
0  Thur  2.771452
1   Fri  2.734737
2   Sat  2.993103
3   Sun  3.255132

In [26]:
print(stats.ttest_ind(thur['tip'], fri['tip']), '\n')
print(stats.ttest_ind(thur['tip'], sat['tip']), '\n')
print(stats.ttest_ind(thur['tip'], sun['tip']), '\n')
print(stats.ttest_ind(fri['tip'], sat['tip']), '\n')
print(stats.ttest_ind(fri['tip'], sun['tip']), '\n')
stats.ttest_ind(sat['tip'], sun['tip'])

TtestResult(statistic=np.float64(0.11730942169802579), pvalue=np.float64(0.9069125931368767), df=np.float64(79.0))

TtestResult(statistic=np.float64(-0.9002365327147176), pvalue=np.float64(0.36946681304441176), df=np.float64(147.0))

TtestResult(statistic=np.float64(-2.2843010879966243), pvalue=np.float64(0.023902588668335407), df=np.float64(136.0))

TtestResult(statistic=np.float64(-0.6613907607587961), pvalue=np.float64(0.5098244016024704), df=np.float64(104.0))

TtestResult(statistic=np.float64(-1.6960456150990224), pvalue=np.float64(0.09322243495241593), df=np.float64(93.0))

TtestResult(statistic=np.float64(-1.1431231469058436), pvalue=np.float64(0.2546844163253124), df=np.float64(161.0))

In [27]:
weekend_mask = (df['day'] == 'Sat') | (df['day'] == 'Sun')

In [28]:
df[weekend_mask]['tip'].mean(), \
df[~weekend_mask]['tip'].mean()

(np.float64(3.115276073619632), np.float64(2.7628395061728392))

In [ ]:
stats.ttest_ind(df[weekend_mask]['tip'],
                df[~weekend_mask]['tip'],
                alternative='greater') # 주말에 팁을 더 많이 주냐에 대한 검정

TtestResult(statistic=np.float64(1.8834950801996837), pvalue=np.float64(0.03041622261886374), df=np.float64(242.0))

In [30]:
stats.f_oneway(thur['tip'], fri['tip'], sat['tip'], sun['tip'])

F_onewayResult(statistic=np.float64(1.6723551980998699), pvalue=np.float64(0.17358855530405373))

In [32]:
model = smf.ols("tip ~ day", data = df).fit()

In [34]:
df.groupby('day')['tip'].mean().reset_index(name='tip_mean')

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_1848\3700307551.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day')['tip'].mean().reset_index(name='tip_mean')

    day  tip_mean
0  Thur  2.771452
1   Fri  2.734737
2   Sat  2.993103
3   Sun  3.255132

In [33]:
sm.stats.anova_lm(model)

             df      sum_sq   mean_sq         F    PR(>F)
day         3.0    9.525873  3.175291  1.672355  0.173589
Residual  240.0  455.686604  1.898694       NaN       NaN

In [35]:
model = smf.ols("tip ~ time", data = df).fit()
sm.stats.anova_lm(model)

             df      sum_sq   mean_sq         F    PR(>F)
time        1.0    6.882181  6.882181  3.633815  0.057802
Residual  242.0  458.330296  1.893927       NaN       NaN

In [37]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [38]:
tukey = pairwise_tukeyhsd(endog=df['tip'], groups=df['day'], alpha=0.05)
print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
   Fri    Sat   0.2584 0.8806 -0.6444 1.1611  False
   Fri    Sun   0.5204 0.4558  -0.394 1.4348  False
   Fri   Thur   0.0367 0.9996 -0.8981 0.9715  False
   Sat    Sun    0.262 0.6204 -0.2977 0.8217  False
   Sat   Thur  -0.2217 0.7679 -0.8141 0.3708  False
   Sun   Thur  -0.4837 0.1724 -1.0938 0.1264  False
---------------------------------------------------