In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
train_data = pd.read_csv("data/ratings_train.txt", sep="\t")
test_data = pd.read_csv("data/ratings_test.txt", sep="\t")

In [3]:
#데이터확인
train_data.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [4]:
#데이터확인
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [5]:
# 결측치 (missing value) 처리
na_mask = train_data['document'].isna()
na_removed_train = train_data[~na_mask].copy()
filtered_train = train_data[~na_mask].copy() # ~은 not & 은 그리고 | 는 또는

na_mask = test_data['document'].isna()
na_removed_test = test_data[~na_mask].copy() # ~은 not & 은 그리고 | 는 또는
filtered_test = test_data[~na_mask].copy()
na_removed_test

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[49997 rows x 3 columns]

In [6]:
import re
filtered_train['document'] = na_removed_train['document'].map(lambda v : re.sub("[^A-Za-zㄱ-힝]", ' ', v))
filtered_test['document'] = na_removed_test['document'].map(lambda v : re.sub("[^A-Za-zㄱ-힝]", ' ', v))

In [7]:
from konlpy.tag import Okt # 한국어 사전 준비 ( 형태소 분할에 사용 )

okt = Okt()
print(okt.morphs(filtered_train['document'][0]))

['아', '더빙', '진짜', '짜증나네요', '목소리']