In [3]:
# mysql database 연동 모듈
# !pip install pymysql
# !pip install cryptography

Collecting cryptography
  Downloading cryptography-43.0.3-cp39-abi3-win_amd64.whl.metadata (5.4 kB)
Requirement already satisfied: cffi>=1.12 in c:\users\human\.conda\envs\human-da-env\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\human\.conda\envs\human-da-env\lib\site-packages (from cffi>=1.12->cryptography) (2.22)
Downloading cryptography-43.0.3-cp39-abi3-win_amd64.whl (3.1 MB)
   ---------------------------------------- 0.0/3.1 MB ? eta -:--:--
   ------------- -------------------------- 1.0/3.1 MB 10.0 MB/s eta 0:00:01
   ---------------------------------- ----- 2.6/3.1 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 3.1/3.1 MB 6.2 MB/s eta 0:00:00
Installing collected packages: cryptography
Successfully installed cryptography-43.0.3

In [1]:
import pymysql

In [2]:
# 1. 데이터베이스에 연결
conn = pymysql.connect(host="192.168.0.158", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [3]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [4]:
# 3. 명령 실행
sql = "select * from customer"
cursor.execute(sql)

5

In [6]:
# 4. 조회 명령 실행 결과를 가져오기
data = cursor.fetchall() # 2차원 tuple

In [8]:
# 5. 데이터 사용
# print( data )
# print( type(data), len(data) )
for row in data:
    print(row)

<class 'tuple'> 5
(1, '박지성', '영국 맨체스타', '000-5000-0001')
(2, '김연아', '대한민국 서울', '000-6000-0001')
(3, '장미란', '대한민국 강원도', '000-7000-0001')
(4, '추신수', '미국 클리블랜드', '000-8000-0001')
(5, '박세리', '대한민국 대전', None)

In [9]:
# 6. 연결 닫기
cursor.close()
conn.close()

In [12]:
# 1. 데이터베이스에 연결
conn = pymysql.connect(host="192.168.0.158", port=3306, db="employees",
                       user="humanda", passwd="humanda")

In [13]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [14]:
# 3. 명령 실행
sql = "select emp_no, max(salary) from salaries group by emp_no"
cursor.execute(sql)

300024

In [15]:
# 4. 조회 명령 실행 결과를 가져오기
data = cursor.fetchall()

In [16]:
# 5. 데이터 사용
# print( data )
# print( type(data), len(data) )
for row in data[:10]:
    print(row)

(10001, 88958)
(10002, 72527)
(10003, 43699)
(10004, 74057)
(10005, 94692)
(10006, 60098)
(10007, 88070)
(10008, 52668)
(10009, 94443)
(10010, 80324)

In [17]:
#  0. 데이터베이스 연동 도구 준비
import pymysql

In [22]:
# 1. 데이터베이스 연결 -> 연결 객체 반환
conn = pymysql.connect(host="192.168.0.158", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [23]:
# 2. 명령 도구 만들기
cursor = conn.cursor()

In [24]:
# 3. SQL 만들기 + 명령 실행
sql = """
    create table newbook_och 
    (
        bookid integer primary key,
        bookname varchar(100),
        publisher varchar(100),
        price integer
    )
    """
cursor.execute(sql)

0

In [25]:
# 5. 연결 닫기
cursor.close()
conn.close()

In [ ]:
## book의 데이터를 조회해서 newbook에 저장

In [40]:
# 1. 데이터베이스 연결 -> 연결 객체 반환
conn = pymysql.connect(host="192.168.0.158", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [41]:
# 2. 명령 도구 만들기
cursor = conn.cursor()

In [42]:
# 3. SQL 작성 + 명령 실행 ( 삭제 명령 )
sql = "delete from newbook_och"
cursor.execute(sql)
conn.commit()

In [43]:
# 3. SQL 작성 + 명령 실행 ( 조회 명령 )
sql = "select bookid, bookname, publisher, price from book"
cursor.execute(sql)

10

In [44]:
# 4. 조회 결과 읽기
book_list = cursor.fetchall()

In [ ]:
# # 5. 데이터 처리 (데이터 삽입) 1
# sql2 = "insert into newbook_och values ({0}, '{1}', '{2}', {3})"
# for book in book_list:
#     print(book)
#     # book 데이터를 newbook_?? 테이블에 insert
#     # sql1 = f"insert into newbook_och values ({book[0]}, '{book[1]}', '{book[2]}', {book[3]})"
#     # cursor.execute(sql1)
#     cursor.execute(sql2.format(book[0], book[1], book[2], book[3]))

In [45]:
# 5. 데이터 처리 (데이터 삽입) 2
sql2 = "insert into newbook_och values (%s, %s, %s, %s)"
for book in book_list:
    print(book)
    # book 데이터를 newbook_?? 테이블에 insert
    cursor.execute(sql2, book)

(1, '축구의 역사', '굿스포츠', 50000)
(2, '축구아는 여자', '나무수', 50000)
(3, '축구의 이해', '대한미디어', 50000)
(4, '골프 바이블', '대한미디어', 50000)
(5, '피겨 교본', '굿스포츠', 50000)
(6, '역도 단계별기술', '굿스포츠', 50000)
(7, '야구의 추억', '이상미디어', 50000)
(8, '야구를 부탁해', '이상미디어', 50000)
(9, '올림픽 이야기', '삼성당', 50000)
(10, 'Olympic Champions', 'Pearson', 50000)

In [46]:
conn.commit() # 이전 변경 작업을 모두 원본 테이블에 적용

In [47]:
# 5. 연결 닫기
cursor.close()
conn.close()

In [48]:
# 1. 데이터베이스 연결 -> 연결 객체 반환
conn = pymysql.connect(host="192.168.0.158", port=3306, db="employees",
                       user="humanda", passwd="humanda")

In [49]:
# 2. 명령 도구 만들기
cursor = conn.cursor()

In [51]:
# 3. SQL 작성 + 명령 실행 ( 조회 명령 )
sql = """select * from employees 
         where lower(first_name) like %s or lower(last_name) like %s"""
cursor.execute(sql, ['%{0}%'.format('g')]*2)

94876

In [52]:
# 4. 조회 결과 읽기
employee_list = cursor.fetchall()

In [ ]:
# 5. 데이터 처리 (표시)
for employee in employee_list[:10]:
    print(employee)

In [54]:
# 6. 연결 닫기
cursor.close()
conn.close()