In [7]:
# 241028 실습
# ! pip install cryptography

Collecting cryptography
  Downloading cryptography-43.0.3-cp39-abi3-win_amd64.whl.metadata (5.4 kB)
Requirement already satisfied: cffi>=1.12 in c:\users\human\.conda\envs\human-da-env\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\human\.conda\envs\human-da-env\lib\site-packages (from cffi>=1.12->cryptography) (2.22)
Downloading cryptography-43.0.3-cp39-abi3-win_amd64.whl (3.1 MB)
   ---------------------------------------- 0.0/3.1 MB ? eta -:--:--
   ------------------------------ --------- 2.4/3.1 MB 11.2 MB/s eta 0:00:01
   ---------------------------------------- 3.1/3.1 MB 10.6 MB/s eta 0:00:00
Installing collected packages: cryptography
Successfully installed cryptography-43.0.3

In [1]:
import pymysql
# import cryptography

In [2]:
conn = pymysql.connect(host = "192.168.0.158", port = 3306, db = "bookstore", user = "humanda", passwd = "humanda")
# 크립토그래피 설치했는데 왜안되? 파이썬 재시작해서 임폴트 다시해야함

In [3]:
cursor = conn.cursor()

In [4]:
sql = "select * from customer"
cursor.execute(sql)

5

In [6]:
data = cursor.fetchall()

In [8]:
print(data)
# 튜블안에 튜플을 넣어서 가져옴 2차원 튜플

((1, '박지성', '영국 맨체스타', '000-5000-0001'), (2, '김연아', '대한민국 서울', '000-6000-0001'), (3, '장미란', '대한민국 강원도', '000-7000-0001'), (4, '추신수', '미국 클리블랜드', '000-8000-0001'), (5, '박세리', '대한민국 대전', None))

In [9]:
print(type(data), len(data))

<class 'tuple'> 5

In [10]:
cursor.close()
conn.close()

In [11]:
# 1. 데이터베이스에 연결
conn = pymysql.connect(host="192.168.0.158", port=3306, db="employees",
                       user="humanda", passwd="humanda")

In [12]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [13]:
# 3. 명령 실행
sql = "select emp_no, max(salary) from salaries group by emp_no"
cursor.execute(sql)

300024

In [14]:
# 4. 조회 명령 실행 결과를 가져오기
data = cursor.fetchall()

In [15]:
# 5. 데이터 사용
# print( data )
# print( type(data), len(data) )
for row in data[:10]:
    print(row)

(10001, 88958)
(10002, 72527)
(10003, 43699)
(10004, 74057)
(10005, 94692)
(10006, 60098)
(10007, 88070)
(10008, 52668)
(10009, 94443)
(10010, 80324)

In [17]:
cursor.close()
conn.close()

In [27]:
# 1. 데이터베이스에 연결
conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [28]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [29]:
sql = """
    create table newbook
    (
        bookid integer primary key,
        bookname varchar(100),
        publisher varchar(100),
        price integer
    )
    """
cursor.execute(sql)

0

In [ ]:
#연결 닫기
cursor.close()
conn.close()

In [33]:
# 꼭 알아야 하는 명령문

# create, alter, drop

# insert, update, delete, select

In [34]:
## book 데이터 조회 -> newbook에 저장

In [38]:
# 1. 데이터베이스에 연결
conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [39]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [90]:
conn, cursor = connbook()

In [92]:
# SQL 작성 + 명령실행 (삭제명령)
sql = "delete from newbook"
cursor.execute(sql)
conn.commit()

In [ ]:
# SQL 작성 + 명령실행 (조회 명령)
sql = "select * from book"
cursor.execute(sql)

In [35]:
def connbook():
    conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")
    cursor = conn.cursor()
    return conn, cursor

In [36]:
connbook()

(<pymysql.connections.Connection at 0x1288a72ed50>,
 <pymysql.cursors.Cursor at 0x1288a51de20>)

In [40]:
sql = "select * from book"
cursor.execute(sql)

10

In [41]:
book_list = cursor.fetchall()

In [48]:
for book in book_list:
    # print(book)
    # book 데이터를 newbook테이블에 insert
    sql = f"insert into newbook values ('{book[0]}', '{book[1]}', '{book[2]}', '{book[3]}')"
    cursor.execute(sql)

In [49]:
#sql2 = "insert into newbook values ({0}, '{1}', '{2}', '{3}')"
#for book in book_list:
    #print(book)
    #print(type(book))
    #print(sql2.format(book))

In [50]:
# 이전 변경작업을 모두 원본테이블에 적용하시오
conn.commit()

In [51]:
cursor.close()
conn.close()

In [111]:
import pymysql

def conn_book():
    try:
        # 데이터베이스에 연결
        conn = pymysql.connect(
            host="127.0.0.1",
            port=3306,
            db="bookstore",
            user="humanda",
            passwd="humanda"
        )
        cursor = conn.cursor()
        return conn, cursor
    except pymysql.MySQLError as e:
        print(f"데이터베이스 연결 오류: {e}")
        return None, None

In [110]:
import pymysql

def conn_emp():
    try:
        # 데이터베이스에 연결
        conn = pymysql.connect(
            host="127.0.0.1",
            port=3306,
            db="employees",
            user="humanda",
            passwd="humanda"
        )
        cursor = conn.cursor()
        return conn, cursor
    except pymysql.MySQLError as e:
        print(f"데이터베이스 연결 오류: {e}")
        return None, None

In [86]:
conn, cursor = conn_book()

In [82]:
sql = "select * from book"
cursor.execute(sql)

10

In [112]:
def conn_close():
    cursor.close()
    conn.close()
    return None

In [87]:
c = conn_close()

In [88]:
conn, cursor = conn_book()

In [93]:
sq12 = "insert into newbook values (%s, %s, %s, %s)" # 그냥 다 %s로 통일 그냥 데이터가 들어간다는 표현
for book in book_list:
    print(book)
    #book 데이터를 newbook 테이블이 insert
    cursor.execute(sq12, book)

(1, '축구의 역사', '굿스포츠', 50000)
(2, '축구아는 여자', '나무수', 50000)
(3, '축구의 이해', '대한미디어', 50000)
(4, '골프 바이블', '대한미디어', 50000)
(5, '피겨 교본', '굿스포츠', 50000)
(6, '역도 단계별기술', '굿스포츠', 50000)
(7, '야구의 추억', '이상미디어', 50000)
(8, '야구를 부탁해', '이상미디어', 50000)
(9, '올림픽 이야기', '삼성당', 50000)
(10, 'Olympic Champions', 'Pearson', 50000)

In [94]:
conn.commit()

In [95]:
c = conn_close()

In [97]:
sq12

'insert into newbook values (%s, %s, %s, %s)'

In [108]:
conn, cursor = conn_emp()

In [109]:
sql ="""select * from employees
      where lower(first_name) like %s or lower(last_name) like %s"""
cursor.execute(sql, ['%{0}%'.format('g')]*2)

94876

In [113]:
c = conn_close()