In [ ]:
# 1. iris.data 파일 분석
## bookstore db를 대상으로 아래 작업 수행
# 2. iris.data 파일의 데이터를 저장할 테이블 만들기 (pymysql 사용)
# 3. iris.data 파일의 데이터를 읽어서 2에서 만든 테이블에 저장 (pymysql 사용)
# 4. iris 테이블에서 "setosa" 품종 데이터 조회  (pymysql 사용)

In [1]:
import pymysql

In [2]:
# 1.
conn = pymysql.connect(host="localhost", port=3306, db="bookstore", 
                       user="humanda", password="humanda")

In [3]:
# 2. 
cursor = conn.cursor()

In [4]:
# 4.
sql = """create table iris
         (
            sepal_length float,
            sepal_width float,
            petal_length float,
            petal_width float,
            species varchar(30)
         )"""
cursor.execute(sql)

0

In [5]:
import pandas as pd

In [9]:
iris_df = pd.read_csv("data-files/iris.data", header=None, 
                      names=['sepal_length','sepal_width', 'petal_length',
                             'petal_width', 'species'])

In [13]:
# iris_df : dataframe -> values : ndarray -> tolist() : python list
iris_list = iris_df.values.tolist()

In [16]:
cursor.execute("delete from iris")
conn.commit()

In [15]:
# sql = "insert into iris values (%s, %s, %s, %s, %s)"
# for iris in iris_list:
#     cursor.execute(sql, iris) # iris [1, 2, 3, 4, 'abc']
# conn.commit()

In [17]:
# bulk insert : 한 번에 여러 개의 데이터 insert
sql = "insert into iris values (%s, %s, %s, %s, %s)"
cursor.executemany(sql, iris_list) # iris_list [ [1, 2, 3, 4, 'abc'], ... ]
conn.commit()

In [18]:
# setosa 품종 조회
sql = "select * from iris where species like %s"
cursor.execute(sql, '%{0}%'.format('setosa'))
setosa_list = cursor.fetchall()

In [ ]:
setosa_list

In [20]:
cursor.close()
conn.close()