In [1]:
import pandas as pd
import pymysql

In [20]:
def conn_book():
    conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")
    cursor = conn.cursor()
    return conn, cursor

In [16]:
def conn_book():
    conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")
    cursor = conn.cursor()
    return None

In [21]:
a, b = conn_book()

In [17]:
x, y = conn_book()

TypeError: cannot unpack non-iterable NoneType object

In [22]:
sql = "select * from book"
b.execute(sql)

10