In [2]:
# mysql database 연동 모듈
# !pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [1]:
import pymysql

In [4]:
# 1. 데이터베이스에 연결
conn = pymysql.connect(host="127.0.0.1", port=3306, db="bookstore",
                       user="humanda", passwd="humanda")

In [5]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [6]:
# 3. 명령 실행
sql = "select * from customer"
cursor.execute(sql)

5

In [7]:
# 4. 조회 명령 실행 결과를 가져오기
data = cursor.fetchall()

In [12]:
# 5. 데이터 사용
# print( data )
# print( type(data), len(data) )
for row in data:
    print(row)

(1, '박지성', '영국 맨체스타', '000-5000-0001')
(2, '김연아', '대한민국 서울', '000-6000-0001')
(3, '장미란', '대한민국 강원도', '000-7000-0001')
(4, '추신수', '미국 클리블랜드', '000-8000-0001')
(5, '박세리', '대한민국 대전', None)

In [13]:
# 6. 연결 닫기
cursor.close()
conn.close()

In [3]:
# 1. 데이터베이스에 연결
conn = pymysql.connect(host="192.168.0.158", port=3306, db="employees",
                       user="humanda", passwd="humanda")

In [4]:
# 2. 명령 도구 준비
cursor = conn.cursor()

In [5]:
# 3. 명령 실행
sql = "select emp_no, max(salary) from salaries group by emp_no"
cursor.execute(sql)

300024

In [6]:
# 4. 조회 명령 실행 결과를 가져오기
data = cursor.fetchall()

In [7]:
# 5. 데이터 사용
# print( data )
# print( type(data), len(data) )
for row in data[:10]:
    print(row)

(10001, 88958)
(10002, 72527)
(10003, 43699)
(10004, 74057)
(10005, 94692)
(10006, 60098)
(10007, 88070)
(10008, 52668)
(10009, 94443)
(10010, 80324)